{# Default fallback for the category.html template#}
{% extends "index.html" %}

{# Default page title #}
{% set CATEGORY_TITLE = CATEGORY_TITLE|d(_("Articles dans la catégorie %(category_name)s", category_name=CATEGORY_NAME)) %}

{% block title %}{{ SITENAME|striptags }} - {{ _("Catégorie %(category_name)s", category_name=CATEGORY_NAME) }}{% endblock %}

{% block content_title %}
    <h2>{{ CATEGORY_TITLE }}</h2>
    {% if CATEGORY_DESCRIPTION %}
        <p>{{ CATEGORY_DESCRIPTION }}</p>
    {% endif %}
{% endblock %}