{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - {{ CATEGORY_CONTEXT.page_title }}{% endblock title %}

{% block header %}
    <h1>{{ category.name }}</h1>
    <p>{{ CATEGORY_CONTEXT.page_desc }}</p>
{% endblock header %}

{% block content %}
    <section>
        <ul class="gallery">
            {% for article in articles_page.object_list %}
                <li class="gallery-element" style="background: no-repeat url('{{ SITE_URL }}/{{ article.metadata.img }}'), var(--fg-color); background-size: cover;">
                    {% if "nsfw" in article.metadata.tags %}
                        <div class="nsfw">NSFW</div>
                    {% endif %}
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <h3>{{ article.title }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% if articles_page.has_other_pages() %}
        {% include "pagination.html" %}
    {% endif %}
{% endblock content %}