/* VARIABLES */

:root {
    /* FONT WEIGHT DEFINITIONS */
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    --fw-black: 900;

    /* COLORS */
    --bg-color: #161413;
    --fg-color: #FBF9FF;
    --link-color: #B8A1CE;
    --title-color: #F58F29;
    --footer-color: #2B2A30;
    --nsfw-color: #B91C1B;

    /* DIMENSIONS */
    --navbar-height: 60px;
    --flex-gap: 1rem;
    --default-font-weight: var(--fw-light);
    --title-font-weight: var(--fw-bold);
}

body {
    /* Other elements (typically, header and main) */
    > :not(nav, footer) {
        /* TODO */
        /* The article's header and footer are flex elements themselves */
        > article {
            > header, > footer {
                display: flex;
                flex-direction: column;
                gap: var(--flex-gap);
            }
        }
    }
}

/* PROJECTS MODAL */

.projects-modal {
    width: 100%;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    list-style-type: none;

    .projects-element {
        aspect-ratio: 144/89;
    }

    /* On a wide enough landscape screen, float the modal on the right and make it smaller */
    @media (orientation: landscape) and (min-width: 1024px) {
        width: 50%;
        float: right;
        margin: 0 1em;
    }
}

.projects-button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: left;

    a {
        flex: 1;
        height: 100%;

        .projects-button-title {
            font-size: 1.7em;
            font-weight: var(--title-font-weight);
            color: var(--fg-color);

            /* On a wide enough landscape screen, center the title text */
            @media (orientation: landscape) and (min-width: 1024px) {
                text-align: center;
            }
        }
    }

    /* If hover is impossible, the button title looks a bit different */
    @media (hover: none) {
        a {
            text-decoration: none;

            .projects-button-title {
                margin: .15em;
                text-shadow: 2px 2px 5px var(--bg-color);
            }
        }
    }

    /* If hover is possible, the link is revealed only on hovering the image */
    @media (hover: hover) {
        justify-content: center;

        a {
            opacity: 0;
            transition: 1s;
            background: var(--link-color);
            display: flex;
            align-items: center;
            justify-content: center;

            .projects-button-title {
                color: var(--bg-color);
            }
        }

        &:hover {
            a {
                opacity: .85;
            }
        }
    }
}

.projects-popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000BB;
    z-index: 200;
    transition: .5s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Reveal the popup when its ID is targeted by the browser */
    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.projects-popup-window {
    width: 100%;
    overflow: auto;
    max-height: 50%;
    position: relative;
    background: var(--fg-color);
    color: var(--bg-color);
    padding: 2em;

    hr {
        opacity: .5;
        margin: 1em 0;
    }

    .project-links {
        list-style-type: none;
    }

    /* If the screen is wide enough, the popup doesn't take up all the width */
    @media (min-width: 512px) {
        width: 85%;
    }

    /* If the screen is even wider, the popup takes half the width */
    @media (min-width: 1024px) {
        width: 50%;
        /* Compute the width based on the border instead of content (accounts for padding) */
        box-sizing: border-box;
    }
}

.projects-popup-close {
    text-decoration: none;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    font-size: 1.8em;
    text-align: center;
    color: var(--bg-color);
    font-weight: var(--fw-black);
    position: absolute;
    top: 1em;
    right: 1em;

    /* If hovering is possible, move the close button a bit and animate it on hovering */
    @media (hover: hover) {
        width: 1.2em;
        height: 1.2em;
        line-height: 1em;
        font-size: 1.5em;
        transition: 1s;

        &:hover {
            text-decoration: none;
            background: var(--bg-color);
            color: var(--fg-color);
        }
    }
}

/* FIXME */
.float-wrapper {
    /* As we cannot float around flex elements, we need to use the old-school way */
    > *:not(.floating-block) {
        margin-bottom: var(--flex-gap);
    }
}