/* VARIABLES */

:root {
    /* FONT WEIGHT DEFINITIONS */
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    --fw-black: 900;

    /* COLORS */
    --bg-color: #161413;
    --fg-color: #FBF9FF;
    --link-color: #B8A1CE;
    --title-color: #F58F29;
    --footer-color: #2B2A30;
    --nsfw-color: #B91C1B;

    /* DIMENSIONS */
    --navbar-height: 60px;
    --flex-gap: 1rem;
    --default-font-weight: var(--fw-light);
    --title-font-weight: var(--fw-bold);
}

/* GENERAL */

/* normalize.css doesn't do that, so we do it here */
* {
    margin: 0;
    padding: 0;
}

html {
    background: var(--bg-color);
    color: var(--fg-color);
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: var(--default-font-weight);

    scroll-padding-top: var(--flex-gap);
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    /* If no hover is possible (eg. touch screens), we underline the links */
    @media (hover: none) {
        text-decoration: underline;
    }
}

blockquote {
    padding: 0 2em;
    text-align: justify;
}

abbr[title] {
    text-decoration: underline dotted;

    /* If no hover is possible, remove the underline and display the title attribute in parenthesis after the abbreviation */
    @media (hover: none) {
        text-decoration: none;

        &:after {
            content: " (" attr(title) ")";
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    /* normalize.css sets margins on some titles, so we reset them */
    margin: 0;

    text-align: left;
    color: var(--title-color);
    font-weight: var(--title-font-weight);

    /* In landscape, if the screen is big enough, titles are centered */
    @media (orientation: landscape) and (min-width: 1024px) {
        text-align: center;
    }
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: .7rem;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: .4rem;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1em 0;

    /* the subtitle paragraph is put closer to the title */
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    p {
        font-style: italic;
        font-size: 0.85rem !important;

        /* On a wide enough landscape viewport, center the subtitle just like the titles */
        @media (orientation: landscape) and (min-width: 1024px) {
            text-align: center !important;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--flex-gap);

    /* navbar and page footer stretch accross the whole viewport */
    > nav, > footer {
        align-self: stretch;
    }

    /* Other elements (typically, header and main) */
    > :not(nav, footer) {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--flex-gap);

        p {
            font-size: 1.1rem;
            line-height: 1.4em;
            text-align: justify;
        }

        /* FIXME find a better way to handle .section div elements generated by Pelican */
        /* Sections and articles themselves are flex elements, following the same rules */
        > section, > article, .section {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: var(--flex-gap);
        }

        /* The article's header and footer are flex elements themselves */
        > article {
            > header, > footer {
                display: flex;
                flex-direction: column;
                gap: var(--flex-gap);
            }
        }

        /* On a wide enough screen, make these narrower */
        @media (min-width: 1024px) {
            width: 50%;
        }
    }

    > footer {
        margin-top: 1.5rem;
        padding: 2rem;
        background: var(--footer-color);
        display: flex;
        flex-direction: column;
        gap: .75em;
        align-items: center;
    }
}

/* FIXME find a way for pelican to generate that using <figure> and <figcaption> */
.figure {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;

    p {
        text-align: center;
        font-size: .75rem;
        font-style: italic;
    }
}

.pagination > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: .33em;
    font-size: 1.2rem;

    a {
        font-weight: var(--fw-black);
    }
}

/* HEADER */

.profile-picture {
    border-radius: 10%;
    width: 8rem;
    display: block;
}

/* NAV */

body > nav {
    background: var(--bg-color);
    z-index: 100;
    font-size: 1.2rem;

    ul {
        display: flex;
        height: var(--navbar-height);
        justify-content: left;

        li {
            list-style-type: none;

            a {
                padding: 0 1em;
                display: inline-block;
                line-height: var(--navbar-height);
                font-weight: var(--title-font-weight);
                font-variant: small-caps;
                transition: 1s;
            }
        }

        li:hover {
            a {
                background: var(--link-color);
                text-decoration: none;
                color: var(--bg-color);
            }
        }
    }

    .landing-anchor-link
    {
        display: none;
    }

    .nav-lang-link
    {
        font-weight: var(--fw-regular);
        font-style: italic;
    }

    .nav-index {
        img {
            height: 2em;
            vertical-align: middle;
            border-radius: 25%;
            transition: 1s;
        }
    }

    .nav-index:hover {
        a {
            background: transparent;
        }

        img {
            box-shadow: 0 0 0 2px var(--link-color);
        }
    }
}

/* PROJECTS MODAL */

.projects-modal {
    width: 100%;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    list-style-type: none;

    .projects-element {
        aspect-ratio: 144/89;
    }

    /* On a wide enough landscape screen, float the modal on the right and make it smaller */
    @media (orientation: landscape) and (min-width: 1024px) {
        width: 50%;
        float: right;
        margin: 0 1em;
    }
}

.projects-button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: left;

    a {
        flex: 1;
        height: 100%;

        .projects-button-title {
            font-size: 1.7em;
            font-weight: var(--title-font-weight);
            color: var(--fg-color);

            /* On a wide enough landscape screen, center the title text */
            @media (orientation: landscape) and (min-width: 1024px) {
                text-align: center;
            }
        }
    }

    /* If hover is impossible, the button title looks a bit different */
    @media (hover: none) {
        a {
            text-decoration: none;

            .projects-button-title {
                margin: .15em;
                text-shadow: 2px 2px 5px var(--bg-color);
            }
        }
    }

    /* If hover is possible, the link is revealed only on hovering the image */
    @media (hover: hover) {
        justify-content: center;

        a {
            opacity: 0;
            transition: 1s;
            background: var(--link-color);
            display: flex;
            align-items: center;
            justify-content: center;

            .projects-button-title {
                color: var(--bg-color);
            }
        }

        &:hover {
            a {
                opacity: .85;
            }
        }
    }
}

.projects-popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000BB;
    z-index: 200;
    transition: .5s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Reveal the popup when its ID is targeted by the browser */
    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.projects-popup-window {
    width: 100%;
    overflow: auto;
    max-height: 50%;
    position: relative;
    background: var(--fg-color);
    color: var(--bg-color);
    padding: 2em;

    hr {
        opacity: .5;
        margin: 1em 0;
    }

    .project-links {
        list-style-type: none;
    }

    /* If the screen is wide enough, the popup doesn't take up all the width */
    @media (min-width: 512px) {
        width: 85%;
    }

    /* If the screen is even wider, the popup takes half the width */
    @media (min-width: 1024px) {
        width: 50%;
        /* Compute the width based on the border instead of content (accounts for padding) */
        box-sizing: border-box;
    }
}

.projects-popup-close {
    text-decoration: none;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    font-size: 1.8em;
    text-align: center;
    color: var(--bg-color);
    font-weight: var(--fw-black);
    position: absolute;
    top: 1em;
    right: 1em;

    /* If hovering is possible, move the close button a bit and animate it on hovering */
    @media (hover: hover) {
        width: 1.2em;
        height: 1.2em;
        line-height: 1em;
        font-size: 1.5em;
        transition: 1s;

        &:hover {
            text-decoration: none;
            background: var(--bg-color);
            color: var(--fg-color);
        }
    }
}

/* FIXME */
.float-wrapper {
    /* As we cannot float around flex elements, we need to use the old-school way */
    > *:not(.floating-block) {
        margin-bottom: var(--flex-gap);
    }
}

/* ARTICLES */

article {
    .article-category {
        font-variant: small-caps;
        font-weight: var(--fw-medium);
        font-size: 1.15em;

        &:before, &:after {
            content: "\2014";
        }
    }

    hgroup {
        margin: 0;
    }

    .article-header-info {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    address {
        display: flex;
        font-weight: var(--fw-regular);

        .article-author:not(:last-child):after {
            content: ",\a0";
        }

        &:before {
            font-style: normal;
            content: "\1F464";
            margin-right: .5rem;
        }
    }

    .article-date {
        display: flex;
        font-weight: var(--fw-thin);

        &:before {
            content: "\1F5D3";
            margin-right: .5rem;
        }
    }

    .article-tags {
        display: flex;
        list-style-type: none;

        &:before {
            content: "\1F3F7";
            margin-right: .5rem;
        }

        li:not(:last-child):after {
            content: ",\a0";
        }
    }

    .article-translations {
        display: flex;
        list-style-type: none;

        &:before {
            content: "\1F310";
            margin-right: .5rem;
        }
    }

    @media (orientation: landscape) and (min-width: 1024px) {
        .article-category {
            text-align: center;
        }

        address, .article-date, .article-tags, .article-translations {
            justify-content: center;
        }
    }
}

/* GALLERY */

.gallery {
    list-style-type: none;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    > * {
        aspect-ratio: 16/9;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background: color-mix(in srgb, var(--link-color) 30%, transparent);
            text-decoration: none;
            width: 100%;
            height: 100%;

            h3 {
                text-align: center;
                font-size: 1.7em;
                font-weight: var(--title-font-weight);
                color: var(--fg-color);
            }
        }
    }
}

.nsfw{
    background: var(--nsfw-color);
    color: var(--fg-color);
    font-size: .5rem;
    font-weight: var(--title-font-weight);
    position: absolute;
    margin: .75rem;
    padding: .25em;
    border-radius: .5em;
}

/* SOCIAL ICONS */

.social-icons {
    list-style-type: None;
    display: flex;
    justify-content: center;
    gap: .1em;

    li {
        border-radius: 5%;
        padding: .3em;
        display: flex;
        align-items: center;
        transition: 1s;

        a {
            transition: 1s;
            display: inline-grid;
            width: 2em;
            height: 2em;
            background-color: var(--link-color);
        }
    }

    li:hover {
        background: var(--link-color);

        a {
            background-color: var(--footer-color);
        }
    }
}

/* MEDIA QUERIES */

@media (hover: hover) {
    .gallery {
        a {
            opacity: 0;
            transition: 1s;
            background: color-mix(in srgb, var(--link-color) 85%, transparent);

            h3 {

            }
        }

        a:hover {
            opacity: 1;
            text-decoration: none;
        }
    }
}

@media (hover: none) {
    .gallery h3 {
        font-size: 1.7em;
        font-weight: var(--title-font-weight);
        color: var(--fg-color);
        text-shadow: 2px 2px 5px var(--bg-color), 2px 2px 2px var(--bg-color);
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    /* If the navbar is sticky, take it into account for anchor links */
    html {
        scroll-padding-top: calc(var(--navbar-height) + var(--flex-gap));
    }

    body > nav {
        position: sticky;
        top: 0;

        ul {
            justify-content: center;
        }

        .landing-anchor-link {
            display: list-item;
        }

        .nav-index img {
            border-radius: 100%;
        }
    }

    .profile-picture {
        border-radius: 100%;
    }
}

@media (orientation: landscape) and (min-width: 512px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);

        > *, > * a {
            border-radius: .5rem;
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* FONTS */

/* M PLUS 1p */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 100;
  src: local('M PLUS 1p Thin'), local('MPLUS1p-Thin'), url('../fonts/MPLUS1p/MPLUS1p-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 300;
  src: local('M PLUS 1p Light'), local('MPLUS1p-Light'), url('../fonts/MPLUS1p/MPLUS1p-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS 1p Regular'), local('MPLUS1p-Regular'), url('../fonts/MPLUS1p/MPLUS1p-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  src: local('M PLUS 1p Medium'), local('MPLUS1p-Medium'), url('../fonts/MPLUS1p/MPLUS1p-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 700;
  src: local('M PLUS 1p Bold'), local('MPLUS1p-Bold'), url('../fonts/MPLUS1p/MPLUS1p-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 800;
  src: local('M PLUS 1p ExtraBold'), local('MPLUS1p-ExtraBold'), url('../fonts/MPLUS1p/MPLUS1p-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 900;
  src: local('M PLUS 1p Black'), local('MPLUS1p-Black'), url('../fonts/MPLUS1p/MPLUS1p-Black.ttf') format('truetype');
}