@import "tailwindcss";

@theme {
    /* COLORS */
    --color-background: #161413;
    --color-foreground: #FBF9FF;
    --color-link: #B8A1CE;
    --color-title: #F58F29;
    --color-footer: #2B2A30;
    --color-warn: #B91C1B;

    /* FONTS */
    --font-display: "M PLUS 1p", sans serif;

    /* DIMENSIONS */
    --dim-navbar-height: 60px;
    --dim-default-font-weight: var(--fw-light);
    --dim-title-font-weight: var(--fw-bold);
}

@layer base {
    html {
        @apply bg-background text-foreground;
        @apply font-display font-light;
        @apply scroll-pt-(--spacing(4)) lg:scroll-pt-[calc(var(--dim-navbar-height)+var(--spacing(4)))];
        @apply text-justify;
    }

    a {
        @apply text-link pointer-coarse:underline hover:underline;
    }

    blockquote {
        @apply px-8;
    }

    abbr[title] {
        @apply not-pointer-fine:no-underline not-pointer-fine:after:content-["_("attr(title)")"];
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-title;
        @apply font-bold;
        @apply text-left lg:text-center;
    }

    h1 {
        @apply text-4xl mt-4;
    }

    h2 {
        @apply text-3xl mt-3;
    }

    h3 {
        @apply text-2xl mt-2;
    }

    hgroup {
        @apply flex flex-col;
        @apply my-4;

        /* The subtitle paragraph is put close to the title */
        h1, h2, h3, h4, h5, h6 {
            @apply m-0;
        }

        p {
            @apply italic text-sm lg:text-center;
        }
    }

    main a:has(> img) {
        /*@apply *:duration-500 hover:*:scale-102 pointer-coarse:*:ring-4 pointer-coarse:*:ring-link;*/
        @apply inline-block duration-500 hover:scale-102 pointer-coarse:ring-4 pointer-coarse:ring-link;
    }
}

@layer components {
    /* FIXME find a way for pelican to generate that using <figure> and <figcaption> */
    .figure {
        @apply flex flex-col items-center gap-1;
        @apply italic text-sm;
    }

    .profile-picture {
        @apply rounded-2xl lg:rounded-full w-32;
    }
}

/* Content container elements (essentially, body > (header, main)) */
@utility body-element {
    @apply w-4/5 lg:w-1/2;
    @apply base-flex;
    /* FIXME for .section (pelican generated), and first "section" of a content */
    > section, > article, .section {
        @apply base-flex;
    }

}

/* Flex elements that are used for the global page flow */
@utility base-flex {
    @apply flex flex-col items-stretch gap-4;
}

/* Small caps */
@utility small-caps {
    font-variant: small-caps;
}

/* FONT FACES */

/* M PLUS 1p */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 100;
  src: local('M PLUS 1p Thin'), local('MPLUS1p-Thin'), url('../fonts/MPLUS1p/MPLUS1p-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 300;
  src: local('M PLUS 1p Light'), local('MPLUS1p-Light'), url('../fonts/MPLUS1p/MPLUS1p-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS 1p Regular'), local('MPLUS1p-Regular'), url('../fonts/MPLUS1p/MPLUS1p-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  src: local('M PLUS 1p Medium'), local('MPLUS1p-Medium'), url('../fonts/MPLUS1p/MPLUS1p-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 700;
  src: local('M PLUS 1p Bold'), local('MPLUS1p-Bold'), url('../fonts/MPLUS1p/MPLUS1p-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 800;
  src: local('M PLUS 1p ExtraBold'), local('MPLUS1p-ExtraBold'), url('../fonts/MPLUS1p/MPLUS1p-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 900;
  src: local('M PLUS 1p Black'), local('MPLUS1p-Black'), url('../fonts/MPLUS1p/MPLUS1p-Black.ttf') format('truetype');
}