{% extends "!simple/base.html" %}

{% block head %}
    {# We extend from simple by adding our base css stylesheets #}
    <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/style.css" />
    {{ super() }}
{% endblock %}

{# Add language buttons to MENUITEMS #}
{% if not MENUITEMS %}
    {% set MENUITEMS = [] %}
{% endif %}
{% for lang, url in extra_siteurls|items %}
    {% do MENUITEMS.append(("<span class='nav-lang-link'>{}</span>".format(lang), "{}/".format(url))) %}
{% endfor %}


{# We redefine the whole body to put the navbar on top. #}
{% block body %}
    {% block nav %}
        {{ super() }}
    {% endblock nav %}
    <header>
        {% block header %}
            {{ super() }}
        {% endblock header %}
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        {% block footer %}
            <p>{% trans trimmed %}
                Le <a href="https://github.com/gjorando/pelican-renn/">thème</a> de ce site est transféré dans le domaine public selon les termes de la <a href="https://unlicense.org">licence <em>Unlicense</em></a>.
            {% endtrans %}</p>
            <p>{% trans trimmed %}
                La police de caractères <a href="http://mplus-fonts.osdn.jp/">M<span style="vertical-align: super; font-size: 0.8em; line-height: 0;">+</span> P Type-1</a> est mise à disposition selon les dispositions de la <a href="{{ SITEURL }}/theme/fonts/MPLUS1p/OFL.txt">licence OFL</a>.
            {% endtrans %}</p>
            {% if DISPLAY_SOCIALS_IN_FOOTER %}
                {% include "snippets/social_footer.html" %}
            {% endif %}
        {% endblock footer %}
    </footer>
{% endblock body %}