{% extends "!simple/base.html" %}

{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions %}
    {%- macro _(msg) -%}
        {{ msg % kwargs }}
    {%- endmacro -%}
{% endif %}

{% block head %}
    {# We extend from simple by adding our base css stylesheets #}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />
    {{ super() }}
{% endblock %}

{# Define lang button elements #}
{% set NAV_LANG_LINKS = [] %}
{% for lang, url in extra_siteurls|items %}
    {% do NAV_LANG_LINKS.append(("<span class='nav-lang-link'>{}</span>".format(lang), "{}/".format(url))) %}
{% endfor %}

{# Add language buttons to MENUITEMS #}
{% if not MENUITEMS %}
    {% set MENUITEMS = [] %}
{% endif %}
{% set MENUITEMS = MENUITEMS + NAV_LANG_LINKS %}

{# We redefine the whole body to put the navbar on top. #}
{% block body %}
    <nav>
        {% block nav %}
            <ul>
                {% if NAV_ICON %}
                    <li class="nav-index"><a href="{{ SITEURL }}"><img src="{{ NAV_ICON }}" alt="{{ SITENAME }}"></a></li>
                {% endif %}
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                        <li><a href="{{ SITEURL }}/{{ p.url }}" {% if p==page %} aria-current="page" {% endif %}>{{ p.title }}</a></li>
                    {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <li><a href="{{ SITEURL }}/{{ cat.url }}" {% if cat==category %} aria-current="page" {% endif %}>{{ cat}}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endblock nav %}
    </nav>

    <header>
        {% block header %}
            <hgroup>
                <h1>{{ SITENAME }}</h1>
                {% if SITESUBTITLE %}
                    <p>{{ SITESUBTITLE }}</p>
                {% endif %}
            </hgroup>
        {% endblock header %}
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        {% block footer %}
            <p>{% trans trimmed %}
                Le <a href="https://github.com/gjorando/pelican-renn/">thème</a> de ce site est transféré dans le domaine public selon les termes de la <a href="https://unlicense.org">licence <em>Unlicense</em></a>.
            {% endtrans %}</p>
            <p>{% trans trimmed %}
                La police de caractères <a href="http://mplus-fonts.osdn.jp/">M<span style="vertical-align: super; font-size: 0.8em; line-height: 0;">+</span> P Type-1</a> est mise à disposition selon les dispositions de la <a href="{{ SITEURL }}/theme/fonts/MPLUS1p/OFL.txt">licence OFL</a>.
            {% endtrans %}</p>
            {# If we are on the lander page, DISPLAY_SOCIALS_IN_FOOTER is set to LANDER_DISPLAY_SOCIALS_IN_FOOTER #}
            {% if output_file == "index.html" %}
                {% set DISPLAY_SOCIALS_IN_FOOTER = LANDER_DISPLAY_SOCIALS_IN_FOOTER %}
            {% endif %}
            {% if DISPLAY_SOCIALS_IN_FOOTER %}
                {% include "snippets/social_footer.html" %}
            {% endif %}
        {% endblock footer %}
    </footer>
{% endblock body %}