{# This special template allows us to customize the template of certain categories, with a default fallback #}

{# Take HiddenCategory subclasses into account; retrieve the slug of the base category #}
{% if category.base_category %}
    {% set canonical_slug = category.base_category.slug %}
{% else %}
    {% set canonical_slug = category.slug %}
{% endif %}

{# Default value for CATEGORY_NAME #}
{% set CATEGORY_NAME = CATEGORY_NAME|d(category.name) %}

{% include ["category/{}.html".format(canonical_slug), "category/_.html"] %}