{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - {{ _("Catégories") }}{% endblock %}

{% block content %}
    <h2>{{ _("Articles par catégorie") }}</h2>
    <ul>
        {% for category, articles in categories|sort %}
            {% set category_name = category.name %}
            {# Override the category name with the settings overrides #}
            {% if OVERRIDES and OVERRIDES[(category.slug, "Category")] %}
                {% set category_name = OVERRIDES[(category.slug, "Category")]["CATEGORY_NAME"]|d(category_name) %}
            {% endif %}
            <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category_name }}</a> ({{ articles|count }})</li>
        {% endfor %}
    </ul>
{% endblock %}