{% extends "base.html" %}

{# TODO add a plugin functionality to define arbitrary overrides #}
{% if LANDER_OVERRIDES %}
    {% set NAV_ICON = LANDER_OVERRIDES.NAV_ICON|d(NAV_ICON) %}
    {% set DISPLAY_SOCIALS_IN_FOOTER = LANDER_OVERRIDES.DISPLAY_SOCIALS_IN_FOOTER|d(DISPLAY_SOCIALS_IN_FOOTER) %}
    {% set MENUITEMS = LANDER_OVERRIDES.MENUITEMS|d(MENUITEMS) %}
{% endif %}

{% block title %}
    {{ page.title|striptags }}
{% endblock title %}

{% block header %}
    <hgroup><h1>{{ page.title }}</h1></hgroup>
{% endblock header %}

{% if page.metadata.nav %}
    {% if not MENUITEMS %}
        {% set MENUITEMS = [] %}
    {% endif %}
    {% set raw_nav = (page.metadata["nav"]|string).split(",") %}
    {% set nav_links = [] %}
    {% for raw_link in raw_nav %}
        {% do nav_links.append(raw_link|parse_link) %}
    {% endfor %}
    {% set MENUITEMS = nav_links + MENUITEMS %}
{% endif %}

{% block content %}
    {{ page.content }}
{% endblock content %}