{% extends "base.html" %}

{% set period_string = period|reverse|join(" ") %}

{% block title %}{{ SITENAME|striptags }} - {% trans trimmed %}Archives de {{ period_string }}{% endtrans %}{% endblock %}

{% block content %}
    <h2>{% trans trimmed %}Archives de {{ period_string }}{% endtrans %}</h2>

    <dl class="archives-list">
        {% for article in dates %}
            <dt>{{ article.locale_date }}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
    </dl>
{% endblock %}