{# Default fallback for the article.html template #}
{# We extend page.html, adding article-specific elements #}
{% set page=article %}
{% extends "page.html" %}

{% block head %}
    {{ super() }}

    {% if article.description %}
        <meta name="description" content="{{ article.description }}" />
    {% endif %}
{% endblock %}

{% block content_header %}
    {% if article.category %}
        <p class="small-caps font-medium text-lg [&:before,&:after]:content-['\2014'] lg:text-center">
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </p>
    {% endif %}

    {{ super() }}

    {% include "snippets/article_header_info.html" %}
{% endblock content_header %}
