{% extends "article/_.html" %}

{% set MENUITEMS = [(_("Retour"), "javascript:history.back()")] %}

{% block header %}
{% endblock header %}

{% block content %}
    <article>
        <header>
            <a title="{{ _("Cliquez pour l'image en pleine taille") }}" href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/{{ article.metadata.img }}">
                {% include "snippets/nsfw_stamp.html" %}
                <img class="w-full" src="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/{{ article.metadata.img|get_thumbnail("thumbnail") }}" />
            </a>
            <hgroup>
                <h1>{{ article.title }}</h1>
                <p>
                    {{ _("Artiste:") }} <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author.name }}</a>
                    {% if article.metadata.source %}
                        (<a href="{{ article.metadata.source }}">{{ _("source") }}</a>)
                    {% endif %}
                </p>
            </hgroup>
        </header>
        {{ article.content }}
    </article>
{% endblock content %}
